@font-face {
    font-family: 'ralewayblack';
    src: url('../fonts/raleway/raleway-black-webfont.eot');
    src: url('../fonts/raleway/raleway-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-black-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-black-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-black-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-black-webfont.svg#ralewayblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayblack_italic';
    src: url('../fonts/raleway/raleway-blackitalic-webfont.eot');
    src: url('../fonts/raleway/raleway-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-blackitalic-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-blackitalic-webfont.svg#ralewayblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway/raleway-bold-webfont.eot');
    src: url('../fonts/raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold_italic';
    src: url('../fonts/raleway/raleway-bolditalic-webfont.eot');
    src: url('../fonts/raleway/raleway-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-bolditalic-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-bolditalic-webfont.svg#ralewaybold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway/raleway-extrabold-webfont.eot');
    src: url('../fonts/raleway/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-extrabold-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextrabold_italic';
    src: url('../fonts/raleway/raleway-extrabolditalic-webfont.eot');
    src: url('../fonts/raleway/raleway-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-extrabolditalic-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-extrabolditalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-extrabolditalic-webfont.svg#ralewayextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight';
    src: url('../fonts/raleway/raleway-extralight-webfont.eot');
    src: url('../fonts/raleway/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-extralight-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-extralight-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-extralight-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-extralight-webfont.svg#ralewayextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight_italic';
    src: url('../fonts/raleway/raleway-extralightitalic-webfont.eot');
    src: url('../fonts/raleway/raleway-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-extralightitalic-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-extralightitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-extralightitalic-webfont.svg#ralewayextralight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayitalic';
    src: url('../fonts/raleway/raleway-italic-webfont.eot');
    src: url('../fonts/raleway/raleway-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-italic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-italic-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-italic-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-italic-webfont.svg#ralewayitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway/raleway-light-webfont.eot');
    src: url('../fonts/raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight_italic';
    src: url('../fonts/raleway/raleway-lightitalic-webfont.eot');
    src: url('../fonts/raleway/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-lightitalic-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway/raleway-medium-webfont.eot');
    src: url('../fonts/raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('../fonts/raleway/raleway-mediumitalic-webfont.eot');
    src: url('../fonts/raleway/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway/raleway-regular-webfont.eot');
    src: url('../fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway/raleway-semibold-webfont.eot');
    src: url('../fonts/raleway/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-semibold-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-semibold-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaysemibold_italic';
    src: url('../fonts/raleway/raleway-semibolditalic-webfont.eot');
    src: url('../fonts/raleway/raleway-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-semibolditalic-webfont.svg#ralewaysemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/raleway/raleway-thin-webfont.eot');
    src: url('../fonts/raleway/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-thin-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-thin-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-thin-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaythin_italic';
    src: url('../fonts/raleway/raleway-thinitalic-webfont.eot');
    src: url('../fonts/raleway/raleway-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-thinitalic-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-thinitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-thinitalic-webfont.svg#ralewaythin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
