body{
  background: #eceff1;
}
.breadcrumb {
    background-color: #ffffff;
    border: 1px solid #d3e0e9;
    font-weight: bold;
}

.panel-heading{
  font-weight: bold;
  font-size: 16px;
  color: #636b6f !important;
}

.nav>li>a{
  font-weight: bold;
}

.has-error .c-label{
    color: #a94442;
}

.btn{
  font-weight: bold !important;
}

.color-edit{
  /*color: #3498db !important;*/
  color: #ffffff !important;
}

.color-red{
   color: #a94442;
}

.width-100{
  width: 100px;
}

.width-200{
  width: 200px;
}

.btn-l{
  padding: 8px 30px !important;
  border-radius: 3px !important;
  line-height: 1.8 !important;
}

.btn-red {
  color: #ffffff;
  background-color: #E74C3C;
  border-color: #E74C3C;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
  color: #ffffff;
  background-color: #DB3623;
  border-color: #E74C3C;
}

.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
  background-image: none;
}

.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
fieldset[disabled] .btn-red:active,
.btn-red.disabled.active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red.active {
  background-color: #E74C3C;
  border-color: #E74C3C;
}

.btn-red .badge {
  color: #E74C3C;
  background-color: #ffffff;
}

.btn-link {
    color: #607d8b;
    font-weight: 400;
    border-radius: 0;
}

.btn-link:hover{
  color:#516B78;
}



.p-b-10{padding-bottom: 10px;}
.p-b-20{padding-bottom: 20px;}
.p-t-10{padding-top: 10px;}
.p-t-20{padding-top: 20px;}
.p-m-10{margin-bottom: 10px;}
.p-m-20{margin-bottom: 20px;}

.f-18{
  font-size: 18px !important; 
}

.f-20{
  font-size: 20px !important;
}
